<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report of Revenue Five Best Days </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
      <style>

	
	    .button-container {
	      display: flex;
	      margin-left: 18%;
	    }
	
	    .custom-button {
	      margin: 0 10px;
	    }
  </style>
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" th:href="@{/}">TurtleBack Zoo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/asset}">Asset Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/revenueEvents/all}">Daily Zoo Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/management}">Management and Reporting</a>
        </li>
    </div>
  </div>
</nav>
    <h3 style="text-align: center;">Report of Revenue Five Best Days</h3>
	<div class="button-container">
	<form th:action="@{/revenueEvents/fiveDays}" method="post">
	<label>Select Month</label><input type="month" class="form-control" name="month">
	<button type="submit" class="btn btn-primary custom-button">Generate Report</button>
	</form>
  </div>
  
      <div th:if="${fiveDays != null}">
  	<div><div class="container p-4">
		  <h4 th:text="'Report for the month ' + ${selectedMonth}" class="text-body-emphasis"></h4><br/>
		<table class="table table-striped" border="1">
			<thead class="bg-primary text-white">
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Total Revenue</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="f: ${fiveDays}">
					<td th:text = "${f.date}"></td>
					<td th:text = "${f.averageRevenue}"></td>
				</tr>
			</tbody>
		</table>
		</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>